<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Note</title>
</head>
<body>
<div>
    <h1>Create Note</h1>
    <form action="/create" method="POST">
        <input type="hidden" name="id">
        <input id="title" type="text" name="title" placeholder="Title"><br>
        <textarea id="notes" name="notes" placeholder="Write your note here"></textarea><br><br>

        <input type="submit" value="Create">
        <br><br>
        <button type="reset" value="Clear all"> Reset</button>

    </form>
</div>
</body>
</html>